:root {
    --border-radius: 15px;

    --backfade-color: rgba(100, 100, 100, 0.8);
    --highlight_color_a: rgba(218, 215, 37, 0.8);
    --highlight_color_b: rgba(155, 218, 37, 0.8);
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(../res/test/maximalfocus.jpg);
    /*background-color: rgb(120, 120, 120);*/
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}


#title {
    color: white;
    margin: auto auto;

    text-align: center;

    font-size: 400%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}


.topp_bar {
    background-color: var(--backfade-color);
    border-radius: var(--border-radius);
    padding: 10px;
    margin: 20px;
    size: fill;
}
.topp_bar a {
    background-color: var(--highlight_color_b);
    padding: 10px;
    border-radius: var(--border-radius);

    color: white;
    display: inline-flex;
    margin: 10px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 160%;
}
.topp_bar a.not_selected {
    background-color: var(--highlight_color_a);
    text-decoration: none;
}


.container {
    background-color: var(--backfade-color);
    border-radius: var(--border-radius);
    padding: 10px;
    margin: 20px;
}

.download_item {
    border: 2px solid var(--highlight_color_b);
    border-radius: var(--border-radius);
    margin: 20px auto 10px auto;
    width: 50%;
}
.download_item h2 {
    color: white;
    margin: auto auto;

    text-align: center;

    font-size: 150%;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.download_item a {
    background-color: var(--highlight_color_a);
    border-radius: var(--border-radius);
    text-decoration: none;
    padding: 10px;

    color: white;
    display: inline-flex;
    margin: 10px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
}


@media screen and (max-width: 666px) {
    
}